.yesButton {
  background-color: #4caf50; /* Зеленый цвет фона */
  border: none; /* Убрать границу кнопки */
  color: white; /* Цвет текста */
  text-align: center; /* Выравнивание текста по центру */
  text-decoration: none; /* Убрать подчеркивание */
  display: inline-block; /* Отобразить как блочный элемент */
  font-size: 16px; /* Размер шрифта */
  padding: 10px 20px; /* Отступы вокруг текста */
  margin: 5px 10px; /* Отступы вокруг кнопки */
  cursor: pointer; /* Изменить курсор при наведении */
  border-radius: 5px; /* Скругление углов */
  font-family:
    "Segoe UI",
    Segoe UI; /* Другой шрифт для кнопок */
  transition: 0.2s ease;
}

.noButton {
  background-color: #f44336; /* Красный цвет фона */
  border: none; /* Убрать границу кнопки */
  color: white; /* Цвет текста */
  text-align: center; /* Выравнивание текста по центру */
  text-decoration: none; /* Убрать подчеркивание */
  display: inline-block; /* Отобразить как блочный элемент */
  font-size: 16px; /* Размер шрифта */
  padding: 10px 20px; /* Отступы вокруг текста */
  margin: 5px 10px; /* Отступы вокруг кнопки */
  cursor: pointer; /* Изменить курсор при наведении */
  border-radius: 5px; /* Скругление углов */
  font-family:
    "Segoe UI",
    Segoe UI; /* Другой шрифт для кнопок */
  position: centre;
  transition: 0.3s ease;
}

.noButton:hover {
  visibility: hidden; /* временно скрываем кнопку */
}

body {
  font-family:
    "Segoe UI",
    Segoe UI; /* Шрифт для всего текста на странице */
}

.text {
  margin-top: 20px;
}

.valentine-container {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
